build/

# XMake files
.xmake/

# VS Code files
.cache/
.vscode/
compile_commands.json

# macOS files
.DS_Store

# XCode files
Jvav.xcodeproj/
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CMakeCache.txt

src/.NET Linker/bin
src/.NET Linker/obj